<div class="max-w-md mx-auto mt-8 px-12 py-9 bg-teal-50 rounded text-teal-900 shadow shadow-teal-100">
  <h1 class="text-2xl font-semibold mb-4">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4 flex flex-col justify-between">
      <%= f.label :first_name, class: "after:content-['*'] after:ml-0.5 after:text-teal-500" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", placeholder: "Albert", class: "mt-1 rounded-md border-teal-100 shadow-sm focus:border-teal-200 focus:ring focus:ring-teal-200 focus:ring-opacity-40" %>
    </div>

    <div class="field mb-4 flex flex-col justify-between">
      <%= f.label :last_name, class: "after:content-['*'] after:ml-0.5 after:text-teal-500" %>
      <%= f.text_field :last_name, autocomplete: "last-name", placeholder: "Einstein", class: "mt-1 rounded-md border-teal-100 shadow-sm focus:border-teal-200 focus:ring focus:ring-teal-200 focus:ring-opacity-40" %>
    </div>

    <div class="field mb-4 flex flex-col justify-between">
      <%= f.label :email, class: "after:content-['*'] after:ml-0.5 after:text-teal-500" %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "albert.einstein@mail.com", class: "mt-1 rounded-md border-teal-100 shadow-sm focus:border-teal-200 focus:ring focus:ring-teal-200 focus:ring-opacity-40" %>
    </div>

    <div class="field mb-4 flex flex-col justify-between">
      <%= f.label :password, class: "after:content-['*'] after:ml-0.5 after:text-teal-500" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: "mt-1 rounded-md border-teal-100 shadow-sm focus:border-teal-200 focus:ring focus:ring-teal-200 focus:ring-opacity-40" %>
      <% if @minimum_password_length %>
      <em class="text-sm text-slate-600 font-light"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field mb-4 flex flex-col justify-between">
      <%= f.label :password_confirmation, class: "after:content-['*'] after:ml-0.5 after:text-teal-500" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "mt-1 rounded-md border-teal-100 shadow-sm focus:border-teal-200 focus:ring focus:ring-teal-200 focus:ring-opacity-40" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "mb-3 py-2 px-3 bg-teal-600 hover:bg-teal-500 text-white rounded transition duration-300 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-50" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
